services:
  frontend:
    build:
      context: ./Meetopia
      dockerfile: Dockerfile
    ports:
      - "80:80"
    env_file:
      - .env.prod
    depends_on:
      - backend

  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env.prod
    depends_on:
      - postgres

  postgres:
    image: postgres:18-alpine
    env_file:
      - .env.prod
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
